@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  src: local("Open Sans Regular"),local(OpenSans-Regular); }

@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  src: local("Open Sans Bold"),local(OpenSans-Bold); }

/*! HTML5 Boilerplate v5.3.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
  margin: 0;
  padding: 0; }

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none; }

::selection {
  background: #b3d4fc;
  text-shadow: none; }

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0; }

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle; }

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0; }

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical; }

/* ==========================================================================
   Custom CSS
   ========================================================================== */

html {
  min-height: 100vh; }

body {
  background: -webkit-gradient(linear, left top, right bottom, from(#eb2f64), color-stop(#ff3366), to(#ba265d));
  background: linear-gradient(to right bottom, #eb2f64, #ff3366, #ba265d);
  background-size: cover;
  background-repeat: no-repeat;
  color: #777;
  min-height: 100%; }

/* Fonts */

html {
  font-size: 62.5%; }

body {
  font-family: 'Open Sans';
  font-weight: 400;
  line-height: 1.6; }

/*  LOGO */

.logo {
  height: 32.5px;
  height: 3.25rem;
  margin-left: 20px;
  margin-left: 2rem; }

/*  SEARCH-BOX */

.search {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 40%;
          flex: 0 0 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: flex;
      -ms-flex-pack: flex;
          justify-content: flex; }

.search__input {
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    background-color: #f4f2f2;
    border: none;
    padding: 7px 20px;
    padding: 0.7rem 2rem;
    border-radius: 100px;
    width: 85%;
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
    margin-right: -32.5px;
    margin-right: -3.25rem; }

.search__input:focus {
      outline: none;
      width: 90%;
      background-color: #f0eeee; }

.search__input::-webkit-input-placeholder {
      font-weight: 100;
      color: var(grey-light-4); }

.search__input:focus + .search__button {
    background-color: #f0eeee; }

.search__button {
    border: none;
    background-color: #f4f2f2; }

.search__button:focus {
      outline: none; }

.search__button:active {
      -webkit-transform: translateY(2px);
              transform: translateY(2px); }

.search__icon {
    height: 20px;
    height: 2rem;
    width: 20px;
    width: 2rem;
    fill: #999; }

/*  USER-NAV */

.user-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: stretch;
      align-self: stretch;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.user-nav > * {
    padding: 0 20px;
    padding: 0 2rem;
    cursor: pointer;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }

.user-nav > *:hover {
    background: #f4f2f2; }

.user-nav__icon-box {
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
    position: relative; }

.user-nav__icon {
    height: 22.5px;
    height: 2.25rem;
    width: 22.5px;
    width: 2.25rem;
    fill: #999; }

.user-nav__notification {
    position: absolute;
    font-weight: 700;
    font-size: 9px;
    font-size: 0.9rem;
    height: 17.5px;
    height: 1.75rem;
    width: 17.5px;
    width: 1.75rem;
    border-radius: 50%;
    color: #fff;
    background: #ff3366;
    top: 15px;
    top: 1.5rem;
    right: 13.5px;
    right: 1.35rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }

.user-nav__user {
    -webkit-transition: all 0.2s;
    transition: all 0.2s; }

.user-nav__user-photo {
    height: 37.5px;
    height: 3.75rem;
    border-radius: 50%;
    margin-right: 10px;
    margin-right: 1rem; }

/* SIDE NAVIGATION */

.side-nav {
  font-size: 14px;
  font-size: 1.4rem;
  list-style: none;
  margin-top: 35px;
  margin-top: 3.5rem; }

.side-nav__item {
    position: relative; }

.side-nav__item:not(:last-child) {
      margin-bottom: 5px;
      margin-bottom: 0.5rem; }

.side-nav__item::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 3px;
    background: #eb2f64;
    -webkit-transform: scaleY(0);
            transform: scaleY(0);
    -webkit-transition: width 0.4s cubic-bezier(1, 0, 0, 1) 0.1s, background-color 0.2s, -webkit-transform 0.2s;
    transition: width 0.4s cubic-bezier(1, 0, 0, 1) 0.1s, background-color 0.2s, -webkit-transform 0.2s;
    transition: transform 0.2s, width 0.4s cubic-bezier(1, 0, 0, 1) 0.1s, background-color 0.2s;
    transition: transform 0.2s, width 0.4s cubic-bezier(1, 0, 0, 1) 0.1s, background-color 0.2s, -webkit-transform 0.2s; }

.side-nav__item:hover::before, .side-nav__item--active::before {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
    width: 100%; }

.side-nav__item:active::before {
    background-color: #ff3366; }

.side-nav__link:link, .side-nav__link:visited {
    display: block;
    padding: 15px 30px;
    padding: 1.5rem 3rem;
    color: #faf9f9;
    text-decoration: none;
    text-transform: uppercase;
    position: relative;
    z-index: 10;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }

.side-nav__icon {
    width: 17.5px;
    width: 1.75rem;
    height: 17.5px;
    height: 1.75rem;
    margin-right: 20px;
    margin-right: 2rem;
    fill: currentColor; }

.legal {
  font-size: 12px;
  font-size: 1.2rem;
  padding: 25px;
  padding: 2.5rem;
  text-align: center;
  color: #ccc; }

.container {
  max-width: 1200px;
  max-width: 120rem;
  min-height: 500px;
  min-height: 50rem;
  margin: 80px auto;
  margin: 8rem auto;
  background: #f4f2f2;
  -webkit-box-shadow: 0 2rem 6rem rgba(0, 0, 0, .3);
          box-shadow: 0 2rem 6rem rgba(0, 0, 0, .3); }

.header {
  font-size: 14px;
  font-size: 1.4rem;
  height: 70px;
  height: 7rem;
  background-color: #fff;
  border-bottom: 1px solid #f4f2f2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.content .sidebar {
    background: #333;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 18%;
            flex: 0 0 18%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }

.content .hotel-view {
    height: 800px;
    height: 80rem;
    background: #fff;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1; }

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; }

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto; }

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
  visibility: hidden; }

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
  content: ' ';
  /* 1 */
  display: table;
  /* 2 */ }

.clearfix:after {
  clear: both; }

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */ }

@media print, (-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 1.25dppx), (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */ }

@media print {
  *,
  *:before,
  *:after,
  *:first-letter,
  *:first-line {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
    -webkit-box-shadow: none !important;
            box-shadow: none !important;
    text-shadow: none !important; }
  a,
  a:visited {
    text-decoration: underline; }
  a[href]:after {
    content: " (" attr(href) ")"; }
  abbr[title]:after {
    content: " (" attr(title) ")"; }
  /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */
  a[href^='#']:after,
  a[href^='javascript:']:after {
    content: ''; }
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid; }
  /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */
  thead {
    display: table-header-group; }
  tr,
  img {
    page-break-inside: avoid; }
  img {
    max-width: 100% !important; }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3; }
  h2,
  h3 {
    page-break-after: avoid; } }

/*# sourceMappingURL=main.css.map */
