.container {
  // using max width so that if there is no space for 120rem to ocuppy container will take 100% of the available space
  max-width: 120rem;
  min-height: 50rem;
  margin: 8rem auto;
  background: var(--grey-light-2);
  box-shadow: var(--shadow-dark);

  @media only screen and (max-width: $bp-largest) {
    margin: 0;
    max-width: 100%;
    width: 100%;
  }
}

.header {
  font-size: 1.4rem;
  height: 7rem;
  background-color: #fff;
  border-bottom: 1px solid var(--grey-light-2);
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media only screen and (max-width: $bp-small) {
    flex-wrap: wrap;
    height: 10rem;
    align-content: space-around;
    background-color: var(--grey-light-2);
  }
}

.content {
  display: flex;

  @media only screen and (max-width: $bp-medium) {
    flex-direction: column;
  }

  .sidebar {
    background: var(--grey-dark-1);
    // flex: grow shrink basis;
    // here we dont want for element to grow and shrink, just want to always keep its width at 18%
    flex: 0 0 18%;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .hotel-view {
    background: #fff;
    // with flex: 1; we want for element to grow and occupy all available space
    flex: 1;

    .details {
      font-size: 1.4rem;
      display: flex;
      padding: 4.5rem;
      background: var(--grey-light-1);
      border-bottom: 1px solid var(--grey-light-2);

      @media only screen and (max-width: $bp-medium) {
        padding: 3rem;
      }
      @media only screen and (max-width: $bp-small) {
        flex-direction: column;
      }
    }

    .description {
      background: #fff;
      box-shadow: var(--shadow-light);
      flex: 0 0 60%;
      margin-right: 4.5rem;
      padding: 3rem;

      @media only screen and (max-width: $bp-medium) {
        padding: 2rem;
        margin-right: 3rem;
      }
      @media only screen and (max-width: $bp-small) {
        margin-right: 0;
        margin-bottom: 3rem;
      }
    }

    .user-reviews {
      flex: 1;

      display: flex;
      flex-flow: column nowrap;
      align-items: center;
    }
  }
}
